<head>
  <script src="/scripts/nav.js"></script>
</head>
<body>
  <div class="header">
    <div onclick="navopen()" id="menu">
      <div id="pencet">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <nav class="navbar">
      <ul id="navbar-id" class="nav-links">
        <li>
          <a href="https://cohesion.ieeencu.tech">Home</a>
        </li>
        <li>
          <a href="https://cohesion.ieeencu.tech#about">About</a>
        </li>
        <li>
          <a href="https://cohesion.ieeencu.tech#events">Events</a>
        </li>
        <li>
          <a href="https://cohesion.ieeencu.tech#sponsors">Sponsors</a>
        </li>
        <li>
          <a href="https://cohesion.ieeencu.tech#contact">Contact</a>
        </li>
        <li>
          <a href="/register">Register</a>
        </li>
      </ul>
    </nav>
  </div>
</body>
