<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ARG | Cohesion
    </title>
    <%- include('partials/style.ejs') %>
            <link rel="stylesheet" href="/stylesheets/toastr.css" />
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src=" https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
    <%- include('partials/navbar.ejs') %>
        <main>
            <div class="container">
                <h2 class="section-header">Level <span id="level">
                        <%= level %>
                    </span>
                </h2>
                <br><br>
                <div class="c-box p-5">
                    <p class="question text-center pb-4" id="question">
                        <%- question %>
                    </p>

                    <input class="challenge-input mx-auto d-block" id="answer" type="text" />
                    <br>
                    <div id="answer_error" class="error text-center"></div>
                    <br>
                    <button class="auth-btn mx-auto d-block" id="submitARG9">Submit</button>
                    <br>
                    <div id="msg" class="error text-center"></div>
                </div>
            </div>
        </main>
        <audio id="areYouWrongOrAreYouWrong" autoplay src="/donotopen.wav" loop="loop"> </audio>

</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
<script>
    $(function () {
        $('#answer').keyup(function (event) {
            if (event.keyCode === 13) {
                $('#submitARG9').click();
            }
        });

        $('#submitARG9').click(function () {
            if ($('#answer').val().length >= 1) {
                toastr.options = {
                    newestOnTop: true,
                    positionClass: 'toast-bottom-center',
                    preventDuplicates: true,
                    onclick: null,
                    showDuration: 1000,
                    hideDuration: 2000,
                    timeOut: 3000,
                    extendedTimeOut: 1000,
                    showEasing: 'swing',
                    hideEasing: 'linear',
                    showMethod: 'fadeIn',
                    hideMethod: 'fadeOut',
                };
                toastr.error('Incorrect... Try Again!');
            } else $('#answer_error').text('Answer cannot be blank!');
        });
    });

</script>

</html>