<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="node_modules/crosswords-js/dist/crosswords.css"
      rel="stylesheet"
    />
    <script src="node_modules/crosswords-js/dist/crosswords.js"></script>
  </head>
  <body>
    crosswords
  </body>
</html>
