<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ARG | Cohesion</title>
  <%- include('partials/style.ejs') %>
    <%- include('partials/configureFirebase') %>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="scripts/challenge.js"></script>
</head>

<body>
  <%- include('partials/navbar.ejs') %>
    <main>
      <div class="container">
        <h2 class="section-header">Yet to come...</h2>
      </div>
    </main>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

</html>