<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | Cohesion</title>
  <%- include('partials/style.ejs') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%- include('partials/favicon') %>
      <%- include('partials/configureFirebase') %>
        <script src="scripts/indexedDB.js"></script>
        <script src="scripts/login.js"></script>
</head>

<body>
  <%- include('partials/navbar') %>
    <main>
      <div class="container">
        <h1 class="section-header">Login</h1>
        <br><br>
        <div class="container login-box">
          <input class="auth-input mx-auto d-block" type="email" placeholder="Email" id="email" />
          <div id="email_error" class="error text-center"></div>

          <input class="auth-input mx-auto d-block" type="password" placeholder="Password" id="password" />
          <div id="password_error" class="error text-center"></div>
          <br />
          <div class="auth-btns">
            <button class="auth-btn" id="login">Login</button>
            <br>
            <a href="" style="color: #1b1b1b; text-decoration: none">Forgot Password?</a>
          </div>
          <br>
          <div class="error text-center" id="msg"></div>
        </div>
      </div>
    </main>
    <div style="height: 100px"></div>
</body>

</html>