<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register for ARG</title>
    <script src="scripts/register.js"></script>
</head>

<body>
    Email: <input type="email" placeholder="email" id="r_email"><br><br>
    Password: <input type="password" placeholder="password" id="r_password"><br><br>
    <button onclick="register()">Register</button>
    <h6 id="msg"></h6>
</body>

</html>