<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register for Cohesion</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="scripts/register.js"></script>
    <%- include('partials/favicon') %>
  </head>

  <body>
    <main>
      <div class="container">
        <%- include('partials/navbar') %>
        <h1 class="section-header">Register</h1>
        <div class="reg-box">
          <input class="auth-input" type="text" placeholder="Name" id="name" />
          <div id="name_error" class="error"></div>
          <input
            class="auth-input"
            type="text"
            placeholder="Institution Name"
            id="instname"
          />
          <div id="instname_error" class="error"></div>
          <input
            class="auth-input"
            type="number"
            placeholder="Contact No."
            id="contact"
          />
          <div id="contact_error" class="error"></div>
          <input
            class="auth-input"
            type="email"
            placeholder="Email"
            id="email"
          />
          <div id="email_error" class="error"></div>
          <input
            placeholder="Date of Birth"
            class="textbox-n auth-input"
            type="text"
            onfocus="(this.type='date')"
            id="dob"
          />

          <div id="dob_error" class="error"></div>
          <input
            class="auth-input"
            type="password"
            placeholder="Password"
            id="password"
          />
          <div id="password_error" class="error"></div>
          <br />
          <button class="auth-btn" id="register">Register</button>
          <br />
          <div id="msg" class="error"></div>
        </div>
      </div>
    </main>
    <div style="height: 100px"></div>
  </body>
</html>
