<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cohesion | Registration Successful</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/img/favicon.ico" />
  </head>

  <body>
    <h4 class="section-header">Congratulations!</h4>
    <div class="reg-suc-div">
      <h5>
        You have successfully registered for Cohesion 2021. <br />
        A confirmation mail has been sent on your registered email address.
        <br />
        For regular updates, follow our social media handles:
      </h5>
      <a href="https://www.facebook.com/cohesion.ieeencu"
        ><i class="fa fa-facebook social-icon"></i
      ></a>
      <a href="https://www.instagram.com/cohesion.ieeencu"
        ><i class="fa fa-instagram social-icon"></i
      ></a>
    </div>
  </body>
</html>
