<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Thank you!</title>
    <%- include('partials/style.ejs') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="scripts/index.js"></script>
  </head>
  <body style="color: white">
    <%- include('partials/navbar.ejs') %>
    <main class="container">
      <h1 class="h1-white">Thank you!</h1>
      <h3 style="text-align: center">
        For joining and making Cohesion 2021 a Success! <br />
        We appreciate your efforts, hence We will verify records and release
        winners on <br />
        9<sup>th</sup> February 2021. <br />
        Join the Discord server and follow our social handles for Updates:
        <br />
        <a href="https://www.instagram.com/cohesion.ieeencu/"
          ><i class="fa fa-instagram social-icon"></i
        ></a>
        <a href="https://www.facebook.com/cohesion.ieeencu"
          ><i class="fa fa-facebook social-icon"></i
        ></a>
      </h3>
    </main>
  </body>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</html>
