body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: black;
}

a {
  color: #00b7ff;
}
.container {
  margin: 0 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.nav-links {
  display: flex;
  justify-content: center;
}

.nav-links > li {
  padding: 20px;
  font-size: 1.3rem;
  font-weight: 400;
  list-style-type: none;
}

.nav-links > li > a {
  text-decoration: none;
  color: white;
}

.nav-links > li > a:hover {
  transition: 300ms;
  border-bottom: 3px solid aqua;
}

.reg-box {
  padding: 30px;
  border-radius: 10px;
  background-color: #e9e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 90%;
}
.auth-input {
  color: white;
  background-color: #111511;
  border: none;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 10px 0;
  width: 70%;
  font-size: 20px;
}
.auth-btn {
  background-color: #00e5ff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
}
.error {
  color: #f44336;
  font-weight: 700;
}
.section-header {
  font-family: "Monteserrat", sans-serif;
  font-size: 6rem;
  margin-bottom: 10px;
  -webkit-text-stroke: 3px aqua;
  color: transparent;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#password_error {
  width: fit-content;
}
.reg-suc-div {
  color: white;
  margin: 20px 10%;
  text-align: center;
}
.reg-suc-div > h5 {
  text-align: center;
  font-size: 1.5em;
}
.social-icon {
  color: white;
  font-size: 1.5rem;
  margin: 10px;
}
@media screen and (max-width: 840px) {
  .container {
    margin: 30px;
  }
  .section-header {
    font-size: 5rem;
  }

  .nav-links {
    display: none;
  }
  .nav-links-visible {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  /* Hamburger Animation */
  #pencet {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    flex-direction: column;
    cursor: pointer;
  }

  #pencet span {
    background-color: ghostwhite;
    width: 2em;
    height: 0.2em;
    margin: 0.26em 0;
    display: block;
    transition: all 0.4s ease;
    transform-origin: 0 0;
  }

  .Diam span:nth-child(1) {
    transform: rotate(45deg) translate(1px, -1px);
  }

  .Diam span:nth-child(2) {
    transform: scaleX(0);
  }

  .Diam span:nth-child(3) {
    transform: rotate(-45deg) translate(1px, 0);
  }
}
