body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #1b1b1b;
}

a {
  color: #00b7ff;
}
p,
h2,
h3,
h4,
h5 {
  color: white;
}
.icon {
  color: white;
  font-size: 1.5rem;
}
.h1-white {
  color: #f4f4f4;
  font-size: 6rem;
  font-weight: 700;
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link:hover {
  border-bottom: 2px solid aqua !important ;
}

.reg-box {
  padding: 30px;
  border-radius: 10px;
  background-color: #e9e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  width: 90%;
}
.login-box {
  padding: 30px;
  margin: 0 20%;
  border-radius: 15px;
  background-color: #e9e7e7;
}
.auth-input {
  color: white;
  background-color: #111511;
  border: none;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 10px 0;
  width: 70%;
  font-size: 20px;
}
.auth-btn {
  background-color: #00e5ff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
  margin: 5px 10px;
  cursor: pointer;
}
.auth-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.error {
  color: #f44336;
  font-weight: 600;
}
.section-header {
  font-family: "Monteserrat", sans-serif;
  font-size: 6rem;
  margin-bottom: 10px;
  -webkit-text-stroke: 3px aqua;
  color: transparent;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.reg-suc-div {
  color: white;
  margin: 20px 10%;
  text-align: center;
}
.reg-suc-div > h5 {
  text-align: center;
  font-size: 1.5em;
  margin: 20px 10%;
}
.social-icon {
  color: white;
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}
.level-r,
.level-b,
.level-g {
  font-size: 2rem;
}
.level-g {
  color: #388e3c;
}
.level-r {
  color: #d32f2f;
}
.level-b {
  color: #1976d2;
}
.box-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.chall-text {
  padding: 0 20px;
}
.chall-box {
  display: flex;

  font-size: 1.2rem;
  color: white;
  padding: 40px 20px;
  border-radius: 10px;
  background-color: #111511;
}
#clockdiv {
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}

#clockdiv > div {
  padding: 10px;
  border-radius: 3px;
  background: rgb(53, 52, 52);
  display: inline-block;
}

#clockdiv div > span {
  padding: 15px;
  border-radius: 3px;
  background: #1b1b1b;
  display: inline-block;
}

.smalltext {
  color: white;
  padding-top: 5px;
  font-size: 16px;
}

@media screen and (max-width: 840px) {
  .section-header {
    font-size: 5rem;
    margin: 20px 20%;
  }
  .social-icon {
    text-align: center;
  }
  h5 {
    width: max-content;
  }
  .login-box {
    margin: 0;
  }

  /* Hamburger Animation */
  #pencet {
    display: flex;
    align-items: flex-end;
    margin-top: 20px;
    flex-direction: column;
    cursor: pointer;
  }
  .auth-btns {
    flex-direction: column;
  }
  .auth-btn {
    margin: 10px 0;
  }
  #pencet span {
    background-color: ghostwhite;
    width: 2em;
    height: 0.2em;
    margin: 0.26em 0;
    display: block;
    transition: all 0.4s ease;
    transform-origin: 0 0;
  }

  .Diam span:nth-child(1) {
    transform: rotate(45deg) translate(1px, -1px);
  }

  .Diam span:nth-child(2) {
    transform: scaleX(0);
  }

  .Diam span:nth-child(3) {
    transform: rotate(-45deg) translate(1px, 0);
  }
}

.table {
  color: white;
  font-weight: 900;
  border-collapse: separate;
  border-spacing: 10px;
}

.lb-th {
  text-align: left;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  border-collapse: separate;
  border-spacing: 20px;
  background-color: #013f91;
}

.lb-td {
  padding: 10px 40px;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 20px;
  text-align: center;
}
tbody {
  width: max-content;
  text-align: center;
  border-collapse: separate;
  border-spacing: 20px;
}
.lb-tr {
  color: white;
  background-color: #006eff;
}
.lb-tr:nth-child(even) {
  background-color: #dddddd;
  color: #1b1b1b;
}

.level-h2 {
  font-weight: 600;
  font-size: 2.5rem;
  text-align: center;
}
.c-box {
  background-color: rgba(0, 0, 0, 0.527);
  border-radius: 10px;
  padding: 20px;
}
.challenge-input {
  padding: 10px 20px;
  border-radius: 8px;
  height: 60px;
  font-size: 18pt;
  text-transform: uppercase;
  border: none;
  color: aqua;
  background-color: #1b1b1b;
}
.challenge-input:active {
  border: none;
}

.question {
  font-size: 25px;
}
